* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
color: black;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff6060;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
     text-decoration: underline;
    
  }
  button {
    background-color: #f9f9f9;
  }
}

html,
body {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  flex-grow: 1;
}

@media (min-width: 640px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
html, body {
  overflow-x: hidden; /* Empêche le défilement horizontal */
}