.information{
  flex-grow: 1; 
}
.collapse-container {
  display: flex;
  gap: 76px;
}
.first {
  width: 50%;
}

.second {
  width: 50%;
}
.tags-rates-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top:20px;
   
}
/*
@media (max-width: 830px) {
   .tags-rates-container{
width: 100%;
   }
}*/
/* 📱 MOBILE (480px max) */
@media (max-width: 480px){
  .tags-rates-container{
         display: block;
         margin-top: 0px; 
      
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
  }
  .collapse-container {
    display: block;
    
  }
  .first {
    width: 100%;
  }
  
  .second {
    width: 100%;
  }
}
@media ((min-width: 600px) and (max-width: 830px)){
 
}