.card-container {
  width: 100%;
  max-width: 100%;
  /* margin: 40px auto; */
  padding: 40px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-top: 40px;
}

.cards {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.33% - 20px);
  /* 3 cartes par ligne */
  height: 340px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;

}

/* EFFET AU SURVOL */
.card:hover {
  transform: translateY(-5px);
  /*  Légère élévation de la carte */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /*  Ombre douce au survol */
}

.card img {
  display: block;
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
}

.card h2 {



  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 80%;
  line-height: 1.2;
  margin: 0;



}


/* Responsive pour tablette 768px max */
@media (max-width: 1024px) {
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .card-container {
    
    padding: 20px;
  
    width: 98%;

  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    width: 100%;
    margin: 0 auto;
    padding: 0;

  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: transparent;

  }

  .card img {
    display: block;
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.85;
  }

  .card h2 {

    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    line-height: 1.2;
    margin: 0;
  }
}

/*  MOBILE (480px max) */
@media (max-width: 480px) {
  .card-container {

    width: 100%;

    padding-top: 0px;
    padding-left: 0px;
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    height: 255px;
    border-radius: 10px;
    /* background: transparent; */
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* width: 90%; */
    width: 100%;
  }

  .card img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.75;
    width: 100%;
    height: 255px;
    object-fit: cover;
  }

  #card-title {
    margin: 0;
  }

  .card h2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    line-height: 1.2;
    margin: 0;
    font-size: 18px;
    bottom: 10px;
  }
}