/* ====== HÔTE ====== */
.host,
.host-long-title {
  display: flex;
  justify-content: flex-end;
  margin-top: 75px;
}

.host-picture {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.host-name {
  color: #ff6060;
  font-weight: 500;
  text-align: end;
  margin-right: 10px;
  width: auto;
}

/* Tablette */
@media (min-width: 600px) and (max-width: 830px) {
  .host,
  .host-long-title {
    margin-top: 20px;
  }
}


/* 📱 MOBILE (480px max) */
@media (max-width: 480px) {
  .host {
    position: relative;
    top: 125px;
    margin: auto;
  }
  .host-long-title {
    position: relative;
    top: 150px;
    margin-top: 0;
  }
  .host-name {
    font-size: 15px;
  }
  .host-picture {
    width: 50px;
    height: 50px;
  }
}
