/* ====== TAGS ====== */
.tags,
.long-title-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.tag {
  color: white;
  background-color: #ff6060;
  font-weight: 700;
  font-size: 14px;
  padding-inline: 35px;
  border-radius: 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
  list-style: none;
}

/* Tablette */
@media (min-width: 600px) and (max-width: 830px) {
  .tag {
    font-size: 13px;
    padding-inline: 25px;
  }
}

/* Mobile */
@media (max-width: 480px){
    .tags{
        flex-wrap: wrap;
        position: relative;
        top: 20px; 
        font-weight: 700;
        margin-left: 0%;
    }
    .long-title-tags{

        flex-wrap: wrap;
        position: relative;
        top:46px; 
        margin-left: 0%;
    }
.tag{
    border-radius: 5px;
        font-size: 10px;
        height: 18px;
        margin-right: 10px;
        margin-top: .5rem;
        width: 35%;
        padding-inline: inherit;
        font-weight: 700;
}

}